.claimBtn {
  background-color: #18181b;
  /* width: 130px; */
  height: 40px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  color: var(--accent1);
  border-radius: 8px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 10px;
  margin-right: 10px;
  border: 1px var(--accent1) solid;
}
.claimBtn:hover {
  transition: 0.2s ease-in-out;
  color: #18181b;
  background-color: var(--accent1);
}
.claimBtn:disabled {
  color: rgb(65, 65, 65);
  border-color: rgb(65, 65, 65);
  background-color: #18181b;
}

.notificationCard {
  border: 1px var(--accent2) solid;
  border-top: none;
  color: var(--accent2);
}
